.main {
    isolation: isolate;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    height: 100vh;
}

.title {
    font-size: 70px;
    line-height: 1;

    background: -webkit-linear-gradient(#eee, var(--accent));
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin-bottom: 20px;
    text-align: right;
    opacity: 0.6;
}
